input[type="checkbox"]{
    display: none;
}
label{
    display: inline-block;
    text-decoration: underline;
}
span{
    display: inline-block;
    position: relative;
    border-radius: 5px;
    text-align: right;
}
label[for="red"]{
    color: red;
}
label[for='green']{
    color: green;
}
label[for="blue"]{
    color: blue;
}
span.red{
    background: red;
}
span.green{
    background: green;
}
span.blue{
    background: blue;
}
#red:checked ~ span.red,
#green:checked ~ span.green,
#blue:checked ~ span.blue
{
     display: none;
 }
#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"]
 {
    opacity: 0.2;
 }
