body, div, ul, li, a{
    margin: 0;
    padding: 0;
}
div{
    background-color:#9370db;
}
ul{
    width:900px;
    margin: auto;
}
li{
    display: inline-block;
    padding:5px 10px;
}
li:hover {
    background-color:#dcdcdc;
    box-shadow: 0 0 2px #dcdcdc;
}
li:hover a{
    color:#a9a9a9;
}
a{
    text-decoration: none;
    color:#ffffff;
}
.more{
    float: right;
    margin: -28px 50px 0 0;
    width: 100px;
}
